#list-arrow {
  list-style-type: none;
  position: relative;
  padding-left: 15px;
}

#list-arrow:before {
  content: "\25BA \0020";
  font-size: 6px;
  position: absolute;
  top: 5px;
  left: -10px;
}
